:root {
    --primary-color: #2196F3;
    --primary-light-color: #90CAF9;
}  

.main .container .floto-danger {
    background-color: #f8d7da;
}

.main .container {
    max-width: 96%;
}

.site-header {
    border-bottom: 1px solid black;
    background-color: var(--primary-color);
    color: white;
}


.floto-alert {
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 10px;
    margin: 0.5rem;
}

.floto-alert-error {
    background-color: #ffa4a4;
    border-color: #ff5151;
}

.new_fleet_row {
    border-top: 2px solid black;
}

.device_header {
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    margin: 1rem;
}

.flex_container {
    display: flex;
}

.device_summary {
    flex-grow: 1;
}

.bars {
    flex-grow: 3;
}

.bars table {
    padding: 1rem;
    width: 100%;
}

.bars tr {
    width: 100%;
}

.bars tr td:first-child {
    width: 30%;
}

.bars .progress-bar {
    background-color: red;
    color: black;
}

.bars_progress {
    width: 80%;
}

pre {
    background-color: #d0d0d0;
    padding: 2rem;
}

code#command_output {
    color: black;
}

code#command_error {
    color: #d63384;
}

.form-flex {
    display: flex;
    align-items: top;
}

.center_of_screen {
    position: absolute;
    left: 48%;
    top: 48%;
}