{% load static bootstrap5 %}

<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %} | FLOTO</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="{{ site.description }}">
      <link rel="icon" href="{% static "images/favicon.ico" %}">
      <link rel="canonical" href="{{request.get_full_path}}">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="{% static 'main.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'vendor/vuetify.3.3.13.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'vendor/vuetify-labs.3.3.13.min.css' %}" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
      <link href="https://cdn.jsdelivr.net/npm/quasar@2.12.6/dist/quasar.prod.css" rel="stylesheet" type="text/css">
      {% bootstrap_css %}

      {% block styles %}{% endblock %}
  </head>
  <body>
    <div id="app">
      {% include "header.html" %}

      {% block page_main %}{% endblock %}

      {% include "footer.html" %}
    </div>
    <script>
      function get_user_email(){
        // this function generated in a django template
        {% if user.is_authenticated %}
        return "{{user.email}}"
        {% else %}
        return undefined
        {% endif %}
      }
    </script>
    <script src="{%static 'vendor/vue.3.3.4.js' %}"></script>
    <script src="{% static 'vendor/vuetify.3.3.13.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.12.6/dist/quasar.umd.prod.js"></script>
    <script src="{% static 'vendor/vuetify-labs.3.3.13.js' %}"></script>
    <script src="{% static 'util.js' %}"></script>
    <script>
      FLOTO_CONFIG = {
        // TODO this is a second place configuration is done in.
        // This could be replaced with a context processor to add
        // this info from settings.py
        default_fleet: "floto-k3s",
      }
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
