{% load static cache %}

<header class="site-header">
  <div class="container">
    <nav class="navbar">
      <div>
        <a href="{% url 'dashboard:overview' %}">
          <button type="button" class="btn btn-primary">
            Overview
          </button>
        </a>

        <a href="{% url 'dashboard:devices' %}">
          <button type="button" class="btn btn-primary">
            Devices
          </button>
        </a>
        <a href="{% url 'dashboard:services' %}">
          <button type="button" class="btn btn-primary">
            Services
          </button>
        </a>
        <a href="{% url 'dashboard:applications' %}">
          <button type="button" class="btn btn-primary">
            Applications
          </button>
        </a>
        <a href="{% url 'dashboard:jobs' %}">
          <button type="button" class="btn btn-primary">
            Jobs
          </button>
        </a>
      </div>
      <div>
        {% if user.is_authenticated %}
        <span class="project_name">
          <i class="q-icon notranslate material-icons" aria-hidden="true" role="img">groups</i>
          {{ selected_project.name }}
        </span>
        {% endif %}
      </div>
      <div>
        {% if user.is_authenticated %}
          {% csrf_token %}
            <span>
              <i class="q-icon notranslate material-icons" aria-hidden="true" role="img">account_circle</i>
              {{ user.email }}
            </span>
            <a href="{% url 'dashboard:user' %}">
              <button type="button" class="btn btn-primary">
                Profile
              </button>
            </a>
            <form action="{% url 'oidc_logout' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">
                Log Out
              </button>
            </form>
        {% else %}
          <a href="{% url 'oidc_authentication_init' %}">Login</a>
        {% endif %}
      </div>
    </nav>
  </div>
</header>
