{% extends 'default.html' %}

{% load static %}

{% block title %} Device {% endblock %}

{% block content %}

<div class="device_header">
  <h1>Device [[ device.value.device_name ]]</h1>

  <div class="flex_container">
    <table class="device_summary">
      <tr>
        <th>Name: </th>
        <td>[[ device.value.device_name ]]</td>
      </tr>
      <tr>
        <th>UUID: </th>
        <td>[[ device.value.uuid ]]</td>
      </tr>
    </table>
    <div class="bars">
      <table>
        <tr>
          <td>Temp: [[ device.value.cpu_temp ]]°C</td>
          <td>
            <v-progress-linear color="primary" v-model="device.value.cpu_temp" :height="12"></v-progress-linear>
          </td>
        </tr>
        <tr>
          <td>CPU: [[ device.value.cpu_usage ]]%</td>
          <td>
            <v-progress-linear color="primary" v-model="device.value.cpu_usage" :height="12"></v-progress-linear>
          </td>
        </tr>
        <tr>
          <td>Memory: [[ device.value.memory_percentage ]]%</td>
          <td>
            <v-progress-linear color="primary" v-model="device.value.memory_percentage" :height="12"></v-progress-linear>
          </td>
        </tr>
        <tr>
          <td class="bars_label">Storage: {{ device.value.storage_percentage }}%</td>
          <td>
            <v-progress-linear color="primary" v-model="device.value.storage_percentage" :height="12"></v-progress-linear>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<v-card
  :loading="device_loading"
>
  <v-tabs
    v-model="tab"
    bg-color="primary"
    >
    <v-tab value="overview_tab">Overview</v-tab>
    <v-tab value="command_tab">Command</v-tab>
    <v-tab value="logs_tab">Logs</v-tab>
  </v-tabs>
  <v-card-text>
    <v-window v-model="tab">
      <v-window-item value="overview_tab">
        <table class="table">
          <tr>
            <th>Heartbeat State</th>
            <td>
              [[ device.value.api_heartbeat_state ]] since [[ device.value.last_connectivity_event ]]
            </td>
          </tr>
          <tr>
            <th>VPN connected</th>
            <td>
              [[ device.value.is_online ]] since [[ device.value.last_vpn_event ]]
            </td>
          </tr>
          <tr>
            <th>Status</th>
            <td>[[ device.value.status ]]</td>
          </tr>
          <tr>
            <th>Provisioning State</th>
            <td>[[ device.value.provisioning_state ]] </td>
          </tr>
          <tr>
            <th>OS Version</th>
            <td>[[ device.value.os_version ]] </td>
          </tr>
          <tr>
            <th>Supervisor Version</th>
            <td>[[ device.value.supervisor_version ]] </td>
          </tr>
          <tr>
            <th>Release</th>
            <td>[[ device.value.running_release ]]</td>
          </tr>
          <tr>
            <th>Fleet</th>
            <td>[[ device.value.fleet ]]</td>
          </tr>
          <tr>
            <th>IP address</th>
            <td>
              <ul>
                <li v-for="ip in device.value.split_ip">[[ ip ]]</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>MAC address</th>
            <td>
              <ul>
                <li v-for="mac in device.value.split_mac">[[ mac ]]</li>
              </ul>
            </td>
          </tr>
        </table>
      </v-window-item>
      <v-window-item value="command_tab">
        <div v-if="device.value.is_online">
          <div>
            <v-form 
              class="form-flex" @submit="run_command"
              :disabled="command_disabled"
              >
              <v-text-field
                label="Command:"
                prepend-inner-icon="mdi-console-line"
                v-model="command_text.value"
              ></v-text-field>
              <v-btn primary height="55" type="submit">Submit</v-btn>
            </v-form>
          </div>
          <div>
            <pre>
              <code>[[stdout]]</code>
              <code>[[stderr]]</code>
            </pre>
          </div>  
        </div>
        <div v-else>
          <p>Device is offline, cannot run commands</p>
        </div>
      </v-window-item>
      <v-window-item value="logs_tab">
        <template v-if="logs_loading">
          <v-progress-circular v-if="logs_loading" indeterminate :size="128"></v-progress-circular>
        </template>
        <template v-else>
          <pre>
<template v-for="entry in logs.value">[[ entry.message ]]
</template>
          </pre>            
        </template>
      </v-window-item>
    </v-window>
  </v-card-text>
</v-card>

<div v-if="device_loading" class="center_of_screen">
  <v-progress-circular
    :size="100"
    indeterminate
  ></v-progress-circular>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'device.js' %}"></script>
{% endblock %}
