{% extends 'default.html' %}

{% load static %}

{% block title %} Device {% endblock %}

{% block content %}

<div class="device_header">
  <h3>Device [[ device.value.device_name ]]</h3>

  <div class="flex_container">
    <table class="device_summary">
      <tr>
        <th>Name: </th>
        <td>[[ device.value.device_name ]]</td>
      </tr>
      <tr>
        <th>UUID: </th>
        <td>[[ device.value.uuid ]]</td>
      </tr>
    </table>
    <div class="bars">
      <table>
        <tr>
          <td>Temp: [[ device.value.cpu_temp ]]°C</td>
          <td>
            <q-linear-progress :value="device.value.cpu_temp_percentage" color="white" :height="12" class="q-mt-md" />     
          </td>
        </tr>
        <tr>
          <td>CPU: [[ device.value.cpu_usage ]]%</td>
          <td>
            <q-linear-progress :value="device.value.cpu_usage_percentage" color="white" :height="12" class="q-mt-md" />     

          </td>
        </tr>
        <tr>
          <td>Memory: [[ device.value.memory_percentage*100 ]]%</td>
          <td>
            <q-linear-progress :value="device.value.memory_percentage"  color="white" :height="12" class="q-mt-md" />     
          </td>
        </tr>
        <tr>
          <td class="bars_label">Storage: [[ device.value.storage_percentage*100 ]]%</td>
          <td>
            <q-linear-progress :value="device.value.storage_percentage" color="white" :height="12" class="q-mt-md" />     
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<q-card>
  <q-tabs
    v-model="tab"
    bg-color="primary"
    >
    <q-tab name="overview_tab">Overview</q-tab>
    <q-tab name="command_tab">Command</q-tab>
    <q-tab name="logs_tab">Logs</q-tab>
  </q-tabs>
  <q-tab-panels v-model="tab">
    <q-tab-panel name="overview_tab">
      <div class="row">
        <table class="table col-6">
          <tr>
            <th class="text-left">Heartbeat State</th>
            <td class="text-left">
              [[ device.value.api_heartbeat_state ]] since [[ device.value.last_connectivity_event ]]
            </td>
          </tr>
          <tr>
            <th class="text-left">VPN connected</th>
            <td class="text-left">
              [[ device.value.is_online ]] since [[ device.value.last_vpn_event ]]
            </td>
          </tr>
          <tr>
            <th class="text-left">Status</th>
            <td class="text-left">[[ device.value.status ]]</td>
          </tr>
          <tr>
            <th class="text-left">Provisioning State</th>
            <td class="text-left">[[ device.value.provisioning_state ]] </td>
          </tr>
          <tr>
            <th class="text-left">OS Version</th>
            <td class="text-left">[[ device.value.os_version ]] </td>
          </tr>
          <tr>
            <th class="text-left">Supervisor Version</th>
            <td class="text-left">[[ device.value.supervisor_version ]] </td>
          </tr>
          <tr>
            <th class="text-left">Release</th>
            <td class="text-left">[[ device.value.running_release ]]</td>
          </tr>
          <tr>
            <th class="text-left">Fleet</th>
            <td class="text-left">[[ device.value.fleet ]]</td>
          </tr>
          <tr>
            <th class="text-left">IP address</th>
            <td>
              <ul>
                <li v-for="ip in device.value.split_ip">[[ ip ]]</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th class="text-left">MAC address</th>
            <td>
              <ul>
                <li v-for="mac in device.value.split_mac">[[ mac ]]</li>
              </ul>
            </td>
          </tr>
        </table>
        <div class="col-6">
          <h5>Environment</h5>
          <table class="table">
            <tr v-for="env_obj in environment.value">
              <th class="text-left">[[ env_obj.name ]]</th>
              <td class="text-left">[[ env_obj.value ]]</td>
            </tr>
          </table>
      </div>
      </div>
    </q-tab-panel>
    <q-tab-panel name="command_tab">
      <div v-if="device.value.is_online">
        <div>
          <q-form @submit.prevent="run_command" class="row">
            <q-input
              class="col-10"
              label="Command:"
              prepend-inner-icon="mdi-console-line"
              v-model="command_text.value"
            ></q-input>
            <q-btn class="col-2" primary height="55" type="submit">Submit</q-btn>
          </q-form>
        </div>
        <div>
          <pre>
            <code>[[stdout]]</code>
            <code>[[stderr]]</code>
          </pre>
        </div>  
      </div>
      <div v-else>
        <p>Device is offline, cannot run commands</p>
      </div>
    </q-tab-panel>
    <q-tab-panel name="logs_tab">
      <template v-if="logs_loading">
        <q-circular-progress
          v-if="logs_loading"   
          size="100px"
          indeterminate
          rounded
        ></q-circular-progress>
      </template>
      <template v-else>
        <pre>
<template v-for="entry in logs.value">[[ entry.message ]]
</template>
        </pre>            
      </template>
    </q-tab-panel>
  </q-tab-panels>
</q-card>

<div v-if="device_loading" class="center_of_screen">
  <q-circular-progress
    size="100px"
    indeterminate
    rounded
  ></q-circular-progress>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'device.js' %}"></script>
{% endblock %}
