{% extends 'default.html' %}

{% load static %}

{% block title %} Devices {% endblock %}

{% block content %}

<h1>Devices</h1>

<v-select
  clearable
  chips
  label="Select fleets"
  :items="fleets.value"
  item-title="app_name"
  item-value="id"
  multiple
  v-model="selected_fleets.value"
></v-select>

<v-data-table
  items-per-page="-1"
  :headers="headers"
  :items="devices.value.filter(d => selected_fleets.value.includes(d.belongs_to__application.__id))"
  item-value="name"
  @click:row="handleClick"
  >
</v-data-table>


<div v-if="devices_loading && fleets_loading" class="center_of_screen">
  <v-progress-circular
    :size="100"
    indeterminate
  ></v-progress-circular>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'devices.js' %}"></script>
{% endblock %}
