<table class="table">
  <tr>
    <th>Created By</th>
    <th>Created At</th>
    <th>State</th>
    <th>Application</th>
    <th>Timing</th>
    <th></th>
  </tr>
  {% for job in jobs %}
  <tr>
    <td>{{ job.created_by }}</td>
    <td>{{ job.created_at }}</td>
    <td>{{ job.state }}</td>
    <td>{{ job.application.name }}</td>
    <td>
      <ul>
        {% for t in job.timings %}
        <li>{{ t.timing }}</li>
        {% endfor %}
      </ul>
    </td>
    <td>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#jobs-{{forloop.counter}}" aria-expanded="false" aria-controls="jobs-{{forloop.counter}}">
      Details
      </button>
    </td>
  </tr>
  <tr class="collapse" id="jobs-{{forloop.counter}}">
    <td colspan=100%">
        <table class=table>
          <tr>
            <th>variable</th>
            <th>value</th>
          </tr>
          <tr>
            <td>Application</td>
            <td>{{job.application.name}}</td>
          </tr>
          <tr>
            <td>Application Environment</td>
            <td><pre>{{job.application.environment | pprint }}</pre></td>
          </tr>
          <tr>
            <td>Environment Overrides</td>
            <td><pre>{{job.environment | pprint}}</pre></td>
          </tr>
        </table>
        <table class=table>
          <tr>
            <th>device</th>
            <th>start</th>
            <th>stop</th>
          </tr>
          {% for timeslot in job.timeslots %}
          <tr>
            <td>
              {{timeslot.device_name}}
              ({{timeslot.device_uuid}})
            </td>
            <td>{{timeslot.start}}</td>
            <td>{{timeslot.stop}}</td>
          </tr>
          {% endfor %}
        </table>
    </td>
  </tr>
  {% endfor %}
</table>
