{% extends 'default.html' %}

{% load static %}

{% block title %} Jobs {% endblock %}

{% block content %}
<div class="q-pa-md">
  <h3>Jobs</h3>
  
  <q-select label="Select view" filled v-model="selected_table_filter" :options="table_filter_options"
    :option-label="(o) => o.name">
  </q-select>

  <q-table :columns="headers" :rows="jobs.value.filter(selected_table_filter.value)" :pagination="initialPagination">
    <template v-slot:body-cell-devices="props">
      <q-td :props="props">
        [[ props.row.devices.length ]] devices
      </q-td>
    </template>

    <template v-slot:body-cell-environment="props">
      <q-td :props="props">
        <ul>
          <li v-if="props.row.parsed_env.length === 0">No environment</li>
          <li v-for="(value, name, index) in props.row.parsed_env">
            [[ name ]]: [[ value ]]
          </li>
        </ul>
      </q-td>
    </template>

    <template v-slot:body-cell-timings="props">
      <q-td :props="props">
        <ul>
          <li v-for="timing in props.row.timings">
            [[ timing.timing ]]
            <template v-if="timing.events.length > 0">
              - [[ timing.events[0].status ]]
            </template>
          </li>
        </ul>
      </q-td>
    </template>

    <template v-slot:body-cell-action="props">
      <q-td :props="props">
        <q-btn v-if="props.row.is_owned_by_current_user" color="negative" icon-right="delete" no-caps flat dense
          @click="delete_item(jobs.value.indexOf(props.row))"></q-btn>
        <a :href='`/dashboard/jobs/${props.row.uuid}`'>
          <q-btn icon-right="visibility" no-caps flat dense></q-btn>
        </a>
      </q-td>
    </template>
  </q-table>
</div>

<h4>New Job</h4>
<div class="q-pa-md">
  <q-stepper v-model="step" ref="stepper" color="primary" animated>
    <q-step :name="1" title="Metadata" :done="step > 1">
      <h5>Application</h5>
      <p>Choose the application this job runs.</p>
      <q-form @submit.prevent="continueFn($refs.stepper)" class="q-gutter-md">
        <q-select filled v-model="form_data.application" use-input hide-selected fill-input input-debounce="0"
          :options="applications.options_filter" @filter="appFilterFn" emit-value map-options
          :rules="[ val => val || 'Select an application']">
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey">
                No results
              </q-item-section>
            </q-item>
          </template>
        </q-select>

        <div>
          <label>
            Visibility:
          </label>
          <q-btn-toggle
            name="is_public"
            v-model="form_data.is_public"
            toggle-color="primary"
            :options="[
              {label: 'Project-only', value: false},
              {label: 'Public', value: true},
            ]"
          ></q-btn-toggle>
        </div>

        <q-stepper-navigation>
          <q-btn type="submit" color="primary" label="Continue"></q-btn>
        </q-stepper-navigation>
      </q-form>
    </q-step>

    <q-step :name="2" title="Schedule" :done="step > 2">
      <q-form @submit.prevent="continueFn($refs.stepper)">
        <timing-component v-model="form_data.timings"></timing-component>
        <q-stepper-navigation>
          <q-btn flat color="primary" @click="$refs.stepper.previous()" label="Back" class="q-ml-sm"></q-btn>
          <q-btn type="submit" color="primary" label="Continue"></q-btn>
        </q-stepper-navigation>
      </q-form>
    </q-step>

    <q-step :name="3" title="Select Devices" :done="step > 3">
      <div>
        <q-form @submit.prevent="continueFn($refs.stepper)">
          <div class="row">
            <div class="col-6">
              <h5>Devices</h5>
              <p>Choose the devices on which your job should run.</p>
              <div>
                <q-toggle v-model="device_filters.ready" label="Filter ready"></q-toggle>
                <q-toggle v-model="device_filters.match_peripherals" label="Filter compatible peripherals"></q-toggle>
                <q-input v-model="device_filters.search" label="Search"></q-input>
              </div>
              <q-scroll-area style="height: 400px;" visible>
                <q-field v-model="form_data.devices" :rules="[ val => val.length >= 1 || 'Select at least one device']">
                  <q-list>
                    <q-item tag="label" v-ripple v-for="device in deviceFilterFn()" :key="device.uuid">
                      <q-item-section avatar>
                        <q-checkbox v-model="form_data.devices" :val="device.uuid" />
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>[[ device.device_name ]]</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item v-if="deviceFilterFn().length == 0">
                      <p>
                        No devices matching query
                      </p>
                    </q-item>
                  </q-list>
                </q-field>
              </q-scroll-area>
            </div>
            <div class="col-6">
              <h5>Collections</h5>
              <p>Select devices from collection.</p>
              <q-scroll-area style="height: 400px;" visible>
                <q-list>
                  <template v-for="collection in collections">
                    <q-item tag="label" clickable v-ripple
                      @click="select_collection(collection)">
                      <q-item-section avatar>
                        <q-icon name="arrow_back" />
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>[[ collection.name ]]</q-item-label>
                        <q-item-label caption>[[ collection.description ]]</q-item-label>
                      </q-item-section>
                    </q-item>
                  </template>
                </q-list>
              </q-scroll-area>
            </div>
          </div>
          <div v-if="Object.keys(pending_timeslots).length != 0">
            <h5>
              Timeslots
            </h5>
            <p>
              Your job is scheduled to run on each of the [[ form_data.devices.length ]] selected devices at the following times.
            </p>
            <ul>
              <li v-for="(tss, timing_string, index) in pending_timeslots">
                <span>[[ timing_string ]] </span>
                <ul v-for="ts in tss">
                  <li>
                    [[ ts.start ]] until [[ ts.stop ]]
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div v-if="Object.keys(timeslot_conflicts).length != 0">
            <h5>Conflicts</h5>
            <p>
              Your job cannot be created. Please see below for when devices are unavailable.
            </p>
            <ul>
              <li v-for="(tss, device_uuid, index) in timeslot_conflicts"
                :set="device = devices.value.find(device => device.uuid == device_uuid)">
                <span>[[ device.device_name ]] </span>
                <ul v-for="ts in tss">
                  <li>
                    [[ ts.start ]] until [[ ts.stop ]] - [[ ts.reason ]]
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <q-stepper-navigation>
            <q-btn flat color="primary" @click="$refs.stepper.previous()" label="Back" class="q-ml-sm"></q-btn>
            <q-btn type="submit" color="primary" label="Continue"></q-btn>
          </q-stepper-navigation>
        </q-form>
      </div>
    </q-step>

    <q-step :name="4" title="Add/Override Environment" :done="step > 4">
      <p>
        Add or change environment variables for this job.
        Variables set on the device level are not included here, but
        can be overridden.
      </p>
      <q-form @submit.prevent="submit">
        <environment-component v-model="form_data.environment_component_obj"></environment-component>
        <q-stepper-navigation>
          <q-btn flat color="primary" @click="$refs.stepper.previous()" label="Back" class="q-ml-sm"></q-btn>
          <q-btn type="submit" color="primary" label="Submit"></q-btn>
        </q-stepper-navigation>
      </q-form>
    </q-step>
  </q-stepper>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'jobs.js' %}"></script>
{% endblock %}