{% extends 'default.html' %}
{% block title %} Overview {% endblock %}
{% load static %}
{% block content %}
<link href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" rel="stylesheet" type="text/css">
<h3>Overview</h3>

<div class="row">
    <div id="map" style = "width:900px; height:580px;"></div>
    <div style="margin-left: 1rem">
        <h4>Devices</h4>
        <p>[[ stats.online ]] online / [[ stats.retired ]] retired</p>
        <p>[[ stats.ready ]] ready for apps (you have permission for [[ stats.app_access ]])</p>
    </div>
</div>
<div>
    <h4>Jobs</h4>
    <p>Recent and soon to start jobs</p>
    <div id="chart"></div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
<script src="{% static 'overview.js' %}"></script>
{% endblock %}