{% extends 'default.html' %}

{% load static %}

{% block title %} Services {% endblock %}

{% block content %}


<div class="q-pa-md">
  <h3>Services</h3>
  <q-table
    :columns="headers"
    :rows="services.value"
    :pagination="initialPagination"
    >
    <template v-slot:body-cell-peripheralschemas="props">
      <q-td :props="props">
        <ul v-for="periph in props.row.peripheral_schemas">
          <li>[[ periph.peripheral_schema ]]</li>
        </ul>
      </q-td>
    </template>
    <template v-slot:body-cell-ports="props">
      <q-td :props="props">
        <ul v-for="port in props.row.ports">
          <li>[[ port.protocol ]]: ([[ port.node_port ]], [[ port.target_port ]])</li>
        </ul>
      </q-td>
    </template>

    <template v-slot:body-cell-action="props">
      <q-td :props="props">
        <q-btn
        v-if="props.row.is_owned_by_current_user"
        color="negative"
        icon-right="delete"
        no-caps
        flat
        dense
        @click="delete_item(services.value.indexOf(props.row))"
      />
      </q-td>
    </template>
  </q-table>
</div>

<div v-if="services_loading" class="center_of_screen">
  <q-circular-progress
    size="100px"
    indeterminate
    rounded
  ></q-circular-progress>
</div>

{% if user.is_authenticated %}
<h4>New Service</h4>
<div>
  <q-banner inline-actions class="text-white bg-red" v-if="services_loading_error_message">
    [[ services_loading_error_message ]]
  </q-banner>

  <q-form @submit.prevent="submit" class="q-gutter-md">
    <q-input 
      filled
      label="Container Reference" 
      name="container_ref" 
      v-model="form_data.container_ref"
      :rules="[ val => val && val.length > 0 || 'Please type something']"
    ></q-input>
    <div>
      <label>
        Visibility:
      </label>
      <q-btn-toggle
        name="is_public"
        v-model="form_data.is_public"
        toggle-color="primary"
        :options="[
          {label: 'Project-only', value: false},
          {label: 'Public', value: true},
        ]"
      ></q-btn-toggle>
    </div>

    <div>
      <h5>Peripherals</h5>
      <p>Choose periphals your service requires.</p>
      <q-list>
        <q-item tag="label" v-ripple v-for="ps in peripheral_schemas">
          <q-item-section avatar>
            <q-checkbox v-model="form_data.peripheral_schemas" :val="ps.type">
            </q-checkbox>
          </q-item-section>
          <q-item-section>
            <q-item-label>[[ ps.type ]]</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>

    <div>
      <h5>Ports</h5>
      <p>Expose ports on the device's local network.</p>
      <div class="row">
        <q-select filled v-model="new_port_data.protocol" :options="protocol_options" label="Protocol"></q-select>
        <q-input 
          filled label="Device port (30000-32768)" name="node_port" 
          v-model="new_port_data.node_port"
        ></q-input>
        <q-input 
          filled label="Target port" name="target_port" 
          v-model="new_port_data.target_port"
        ></q-input>
        <q-btn @click="add_port()">Add port</q-btn>
      </div>
      <q-list>
        <q-item tag="label" v-ripple v-for="port in form_data.ports">
          <q-item-section>
            <q-item-label>
              [[ port.protocol ]]: [[ port.node_port ]]
              <q-icon name="arrow_forward"></q-icon>
              [[ port.target_port ]]
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>

    <div>
      <q-btn primary height="55" type="submit" color="blue">
        Submit
      </q-btn>
    </div>
  </q-form>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'services.js' %}"></script>
{% endblock %}
